@import "../bower_components/bootstrap/less/bootstrap.less";

@bg: transparent;

@body: #fff;

@black_fade: rgba(0, 0, 0, 0.25);

@black_translucent: rgba(0, 0, 0, 0.75);

@navy: fade(#263248, 90%);
@light_navy: fade(lighten(#7E8AA2, 10%), 90%);
@orange: #FF9800;
@ivory: lighten(@light_navy, 25%);

@nav_bg: fade(@navy, 0%);
@nav_bg_hover: fade(@navy, 60%);
@nav_bg_active: @navy;
@nav: fade(@light_navy, 70%);
@nav_hover: @light_navy;
@nav_active: @light_navy;
@nav_fade: fade(@light_navy, 30%);
@nav_brand: #fff;
@nav_tag: @nav_active;

@link: @nav;
@link_hover: @nav_hover;

/*****************************************************************
*
* Style defaults
*
******************************************************************/

html, body {
  height: 100%;
}

body {
  // Backgrounds from SVE album
  // http://imgur.com/a/n4eHU
  background: url(http://i.imgur.com/bNUYRsA.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: @body;
  font-family: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: @black_fade;
}

::selection {
  background: rgba(227, 80, 80, 0.5);
  color: #fff;
}

a {
  color: @link;
}

a:hover {
  color: @link_hover;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 25px 0;
  color: @body;
}

.text-muted {
  color: rgba(255, 255, 255, 0.5)
}

/*****************************************************************
*
* Angular
*
******************************************************************/

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/*****************************************************************
*
* Page
*
******************************************************************/

.frame {

}

.main {
  padding: 100px 0;
  background: @bg;
}

/*****************************************************************
*
* Infobox
*
******************************************************************/

.infobox ul {
  padding: 0;
  list-style-type: none;
}

.infobox li {
  padding-right: 10px;
  display: inline;
  white-space: nowrap;
}

/*****************************************************************
*
* Progress
*
******************************************************************/

.progress {
  margin: 25px 0 0 0;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar {
  min-width: 165px;
  line-height: 38px;
  text-align: right;
  background-color: @nav_bg_active;
}

.progress-bar span {
  padding: 0 10px 0 5px;
}


/*****************************************************************
*
* Forms
*
******************************************************************/

.form-control {
  color: #fff;
  background-color: transparent;
  border-color: @light_navy;
}

.input-group {
  margin-top: 25px;
}

.input-group input {
  padding: 7px 12px 5px;
  height: 38px;
  font-size: 18px;
}

.input-group-btn button {
  padding: 7px 12px;
  font-size: 16px;
}

/*****************************************************************
*
* Table
*
******************************************************************/

.table {
  margin-top: 52px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: @nav_bg_hover;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: rgba(255, 255, 255, 0.25);
}

.table-hover > tbody > tr:hover {
  background-color: @nav_bg_hover;
}

.table > tbody > tr.active > td,
.table > tbody > tr.active:hover > td {
  background-color: @nav_bg_active;
}


tr.removed {
  text-decoration: line-through;
}

th {
  color: @light_navy;
  font-weight: 600;
}

.label {
  font-weight: normal;
  // opacity: 0.75;
}

.label-default {
  color: @ivory;
  // background-color: fade(@light_navy, 75%);
}


/*****************************************************************
*
* Selected Mod Infobox
*
******************************************************************/

.infobox {
  overflow: auto;
}

.cell-6 {
  .make-xs-column(3);
}

.cell-6 {
  .make-sm-column(12);
}

.cell-6 {
  .make-md-column(6);
}

.cell-6 {
  .make-lg-column(4);
}

.cell-12 {
  .make-xs-column(6);
}

.cell-12 {
  .make-sm-column(12);
}

@media (min-width: 768px) {
  .infobox {
    margin-top: 100px;
    position: fixed;
    top: 0;
    // right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (max-width: 1199px) {
  .table {
    .table-condensed
  }
}